@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model LandlordRatings.Models.LandlordModel

@{
    ViewData["Title"] = "Landlord Details";
}

<h2>Name: @(Model.Name)</h2>
<h3>Type: @(Model.Type.ToString())</h3>
<h3>Location: @(Model.City), @(Model.State)</h3>

<br />
@Html.Partial("../Ratings/Preview.cshtml", Model.Ratings)

<p>View all ratings <a href="/Ratings/Details/@(Model.ID)">here.</a></p>