@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model LandlordRatings.Models.RatingModel

@{
    ViewData["Title"] = "Add a Rating";
}

<h2>Add a rating for @(ViewData["LandlordName"])</h2>

<form asp-controller="Ratings" asp-action="Create" method="post">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FlexibilityScore" class="col-md-2 control-label"></label>
            @for (int i = 1; i < 6; i++)
            {
                <div class="col-md-1">
                    @Html.RadioButtonFor(model => model.FlexibilityScore, i, new { @class = "form-control" }) @(i)
                </div>
            }
            <span asp-validation-for="FlexibilityScore" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="PersonalityScore" class="col-md-2 control-label"></label>
            @for (int i = 1; i < 6; i++)
            {
                <div class="col-md-1">
                    @Html.RadioButtonFor(model => model.PersonalityScore, i, new { @class = "form-control" }) @(i)
                </div>
            }
            <span asp-validation-for="PersonalityScore" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="PriceScore" class="col-md-2 control-label"></label>
            @for (int i = 1; i < 6; i++)
            {
                <div class="col-md-1">
                    @Html.RadioButtonFor(model => model.PriceScore, i, new { @class = "form-control" }) @(i)
                </div>
            }
            <span asp-validation-for="PriceScore" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="ResponsivenessScore" class="col-md-2 control-label"></label>
            @for (int i = 1; i < 6; i++)
            {
                <div class="col-md-1">
                    @Html.RadioButtonFor(model => model.ResponsivenessScore, i, new { @class = "form-control" }) @(i)
                </div>
            }
            <span asp-validation-for="ResponsivenessScore" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="Comments" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Comments, 5, 50, new { @class = "form-control" })
                @*<input asp-for="Comments" class="form-control" />*@
                <span asp-validation-for="Comments" class="text-danger" />
            </div>
        </div>
        @*hidden field to set landlord ID in model*@
        <input asp-for="LandlordID" type="hidden" value="@ViewData["LandlordID"]" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to Ratings Index</a>
</div>

@section Scripts {
    @{Html.RenderPartial("_ValidationScriptsPartial");}
}
